openapi: 3.0.3
info:
  title: DOKUMEN API GIS AKBAR - OpenAPI 3.0
  description: >-
    Dokumen API Akbar - GIS
  termsOfService: https://github.com/KOCOKERZ/swagger
  contact:
    email: fitrahaliakbar@gmail.com
  license:
    name: Akbar Backend
    url: https://pkg.go.dev/github.com/KOCOKERZ/BACKEND_GIS
  version: 0.1.4
externalDocs:
  description: Repo GCF
  url: https://pkg.go.dev/github.com/KOCOKERZ/BACKEND_GIS
servers:
  - url: https://asia-southeast2-core-advice-401502.cloudfunctions.net #POST
  - url : https://asia-southeast2-core-advice-401502.cloudfunctions.net #SignIn
tags:
  - name: Create GIS
    description: Data Geo Spasial
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://pkg.go.dev/github.com/KOCOKERZ/BACKEND_GIS
paths:
  /CH5-Function-SignIn:
    post:
      tags:
        - Sign In
      summary: Pendaftaran User Baru
      description: Pendaftaran untuk mendapatkan token
      operationId: signUpNewUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignIn'
      responses:
        '200':
          description: successful operation
      security:
        - Secret:
            - write:apiKey
            - read:apiKey

  /CH5-Function-1:  # Penambahan endpoint Create GIS
    post:
      tags:
        - Create GIS
      summary: Create GIS Data
      description: Add new GIS data
      operationId: createGIS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Peta' # Gunakan skema yang sesuai di sini
      responses:
        '201':
          description: Data successfully created
        '400':
          description: Invalid input or request body
      security:
        - SECRET:
            - write:apiKey
            - read:SECRET
               
components:
  schemas:
    SignIn:
          type: object
          properties:
            username: 
              type: string
              example: username
            password: 
              type: string
              example: password
            
          
    Peta:
      type: object
      properties:
        type:
          type: string
          example: "Feature"
        properties:
          type: object
          properties:
            name:
              type: string
              example: "Nama Locationn"
        geometry:
          type: object
          properties:
            coordinates:
              type: array
              example: [ [133.6, 114.1] ]
            type:
              type: string
              example: "Point"
  securitySchemes:
    SECRET:
      type: apiKey
      name: SECRET
      in: header
